.Content-wrapper {
  align-items: center;
  justify-content: center;
  height : auto;
  min-height: 100%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.Content {
  border: 1px solid #ccc;
  height : auto;
  min-height: 100%;
}

.App-header {
  border: 1px solid #ccc;
}

.App-footer {
  text-align: center;
  border: 1px solid #ccc;
  height: 3%;
  transform : translateY(-100%);
  position : relative;
}
